body {
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.box {
    background-color: hsl(193, 95%, 68%);
    border-radius: 5px;
    border: 2px solid hsl(0, 0%, 0%);
    margin: 10px;
    padding: 10px;
}
