body {
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.stopwatch {
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}

.display {
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0 0 10px white;
}

.controls button {
    border: none;
    color: white;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.start-button {
    background-color: #28a745;
}
.stop-button {
    background-color: #dc3545;
}
.reset-button {
    background-color: #007bff;
}

.start-button:hover {
    background-color: #218838;
}
.stop-button:hover {
    background-color: #c82333;
}
.reset-button:hover {
    background-color: #0056b3;
}
